<form method="post" action="{{ path('app_party_delete', {'id': party.id}) }}" onsubmit="return confirm('Supprimer ce groupe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ party.id) }}">
    <button class="btn">Supprimer</button>
</form>
