{% extends 'base.html.twig' %}

{% block title %}Edit Party{% endblock %}

{% block body %}
    <h1>{{ is_owner ? 'Modifier le groupe' : 'Gerer mes personnages dans ce groupe' }}</h1>

    {% if not is_owner %}
        <p>Vous pouvez seulement ajouter ou retirer vos propres personnages de ce groupe.</p>
    {% endif %}

    {{ include('party/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_party_index') }}">Retour a la liste</a>

    {% if is_owner %}
        {{ include('party/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
