{% extends 'base.html.twig' %}

{% block title %}New Party{% endblock %}

{% block body %}
    <h1>Creer un groupe</h1>

    {{ include('party/_form.html.twig', {'button_label': 'Creer'}) }}

    <a href="{{ path('app_party_index') }}">Retour a la liste</a>
{% endblock %}
